<!DOCTYPE html>

{% block content %}
<html lang="en">
	<head>
    {% include "head.html" %}
	</head>
	<body>
    <div id="page">
      <div id="center">
        <div id="side-panel">
          {% include "show_catalogs.html" %}
        </div>
        <div id="main-panel">
          {% include "show_iteminfo.html" %}
        <div id="user-control">
          <a href="{{url_for('edit_item', item_name=item_.name_no_space)}}">Edit</a>
        </div>
        </div>
      </div>
    </div>
	</body>
</html>
{% endblock content %}
